#outlined-basic-label {
  color: white;
  font-weight: bold;
}

#outlined-basic {
  color: white;
}

#outlined-required {
  color: white;
}

#outlined-required-label {
  color: white;
  font-weight: bold;
}
